<ul class="nav nav-tabs m-1">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">All</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Release # </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Master # </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Artist #</a> 
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Label #</a>
    </li>

    <li class="nav-item justify-content-end">
        <a class="nav-link justify-content-end" href="#">Search Marketplace</a>
    </li>
    
</ul>
