
<ul class="nav nav-tabs m-2">
    <p class = "title m-1">Marketplace</p>
    
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">All Items</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Items I Want </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Purchases</a> 
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Cart</a>
    </li>

    <li class="nav-item justify-content-end">
        <a class="nav-link justify-content-end" href="#">Buyer Settings</a>
    </li>

    <li class="nav-item justify-content-end">
        <a class="nav-link justify-content-end" href="#">Search Bar for Later</a>
    </li>
    
</ul>
