.card{
    width: 150px;
    height: 150px;
    border-style: none;
}

.album{
    font-size: 14px;
    font-weight:500;
}

.artist{
    font-size: 12px;
    font-weight:400;
}


.underline-on-hover:hover{
    text-decoration: underline;
}

a:link {
    text-decoration: none;
}
