<body>
    <dsc-topnavbar>Loading...</dsc-topnavbar>
    <p></p>
    <div class="container"> <!--- Will make this a whole component later, will have light and dark --->
        <p class="header-5-albums">Most Expensive Releases Sold This Month</p>
        <div class="row align-items-center">
          <div class="col">
            <dsc-vertical-card></dsc-vertical-card>
          </div>
          <div class="col">
            <dsc-vertical-card></dsc-vertical-card>
          </div>
          <div class="col">
            <dsc-vertical-card></dsc-vertical-card>
          </div>
          <div class="col">
            <dsc-vertical-card></dsc-vertical-card>
          </div>
          <div class="col">
            <dsc-vertical-card></dsc-vertical-card>
          </div>
        </div>
    </div>  
    
    <div class = "container-fill footer">
        <dsc-footer>Loading...</dsc-footer>
        <dsc-footernav>Loading...</dsc-footernav>
    </div>
</body>