<div>
  <body>
    <dsc-topnavbar>Loading...</dsc-topnavbar>

    <div class="container-fluid">
      <marketplace-row-card>Loading...</marketplace-row-card>
      <marketplace-row-card>Loading...</marketplace-row-card>
      <marketplace-row-card>Loading...</marketplace-row-card>
      <marketplace-row-card>Loading...</marketplace-row-card>
    </div>

    <div class="container-fluid"> <!--- Will make this a whole component later, will have light and dark --->
        <p class="header-5-albums">Most Expensive Releases Sold This Month</p>
        <div class="row align-items-center">
          <div class="col">
            <dsc-vertical-card></dsc-vertical-card>
          </div>
          <div class="col">
            <dsc-vertical-card></dsc-vertical-card>
          </div>
          <div class="col">
            <dsc-vertical-card></dsc-vertical-card>
          </div>
          <div class="col">
            <dsc-vertical-card></dsc-vertical-card>
          </div>
          <div class="col">
            <dsc-vertical-card></dsc-vertical-card>
          </div>
        </div>
    </div>  

    <div class="container-fluid mt-5"> <!--- Will make this a whole component later, will have light and dark --->
      <p class="header-5-albums">Explore Newly Added</p>
      <div class="row align-items-center">
        <div class="col">
          <dsc-vertical-card></dsc-vertical-card>
        </div>
        <div class="col">
          <dsc-vertical-card></dsc-vertical-card>
        </div>
        <div class="col">
          <dsc-vertical-card></dsc-vertical-card>
        </div>
        <div class="col">
          <dsc-vertical-card></dsc-vertical-card>
        </div>
        <div class="col">
          <dsc-vertical-card></dsc-vertical-card>
        </div>
        <div class="col">
          <dsc-vertical-card></dsc-vertical-card>
        </div>
        <div class="col">
          <dsc-vertical-card></dsc-vertical-card>
        </div>
        <div class="col">
          <dsc-vertical-card></dsc-vertical-card>
        </div>
        <div class="col">
          <dsc-vertical-card></dsc-vertical-card>
        </div>
        <div class="col">
          <dsc-vertical-card></dsc-vertical-card>
        </div>
      </div>
  </div> 

    

    <div class = "footer">
        <dsc-footer>Loading...</dsc-footer>
        <dsc-footernav>Loading...</dsc-footernav>
    </div>
  </body>
</div>