<div class = "d-flex p-3">
    <div class="list-group list-group-flush border-bottom scrollarea">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">You Selected</strong>
          
        </div>
        <div class="col-10 mb-1 small">
          <a href="#">
              Selection
          </a><br>
        
      <div class="list-group list-group-flush border-bottom scrollarea">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Ships From</strong>
            
          </div>
          <div class="col-10 mb-1 small">
            <a href="#">
                United States
            </a>#<br>
            <a href="#">
                United Kingdom
            </a>#<br>
            <a href="#">
                Germany 
            </a>#<br>
            <a href="#">
                Italy
            </a>#<br>
            <a href="#">
                Netherlands
            </a>#<br>
            <a href="#">
                Show more...
            </a>
          </div>
     
      <div class="list-group list-group-flush border-bottom scrollarea">
          <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Currency</strong>
                        
           </div>
              <div class="col-10 mb-1 small">
                  <a href="#">
                    EUR ()
                  </a>#<br>
                  <a href="#">
                    USD ()
                  </a>#<br>
                  <a href="#">
                    GBP ()
                  </a>#<br>
                  <a href="#">
                    CAD ()
                  </a>#<br>
                  <a href="#">
                   AUD ()
                  </a>#<br>
                  <a href="#">
                   Show more...
                  </a>
              </div> 
                       
      <div class="list-group list-group-flush border-bottom scrollarea">
          <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Genre</strong>
                        
           </div>
              <div class="col-10 mb-1 small">
                  <a href="#">
                    Rock 
                  </a>#<br>
                  <a href="#">
                    Electronic
                  </a>#<br>
                  <a href="#">
                    Pop 
                  </a>#<br>
                  <a href="#">
                    Funk/Soul
                  </a>#<br>
                  <a href="#">
                   Folk, World, & Country
                  </a>#<br>
                  <a href="#">
                   Show more...
                  </a>
          </div> 
      <div class="list-group list-group-flush border-bottom scrollarea">
          <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Format Description</strong>
                        
           </div>
            <div class="col-10 mb-1 small">
                  <a href="#">
                    Very Good Plus (VG+)
                  </a>#<br>
                  <a href="#">
                    Near Mint (NM or M-)
                  </a>#<br>
                  <a href="#">
                    Mint (M) 
                  </a>#<br>
                  <a href="#">
                    Very Good (VG)
                  </a>#<br>
                  <a href="#">
                   Good Plus (G)+
                  </a>#<br>
                  <a href="#">
                      Show more...
                  </a>
                  
          </div>  
<div class="list-group list-group-flush border-bottom scrollarea">
          <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Year</strong>
                        
           </div>
            <div class="col-10 mb-1 small">
                  <a href="#">
                    Custom Range
                  </a>#<br>
                  <a href="#">
                   1985
                  </a>#<br>
                  <a href="#">
                   1983
                  </a>#<br>
                  <a href="#">
                    1980
                  </a>#<br>
                  <a href="#">
                   1979
                  </a>#<br>
                  <a href="#">
                      1978
                  </a>#<br>
                  <a href="#">
                    Show more...
                </a>

                  
          </div>  
          <div class="list-group list-group-flush border-bottom scrollarea">
          <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">More Filters</strong>
                        
           </div>
            <div class="col-10 mb-1 small">
                  <a href="#">
                    Audio Sample
                  </a>#<br>
                  <a href="#">
                   Make an Offer
                  </a>#<br>
                  <a href="#">
                   Seller...
                  </a>
                  

                  
          </div> 
          AD
      </div>
  </div>
