<div class = "d-flex p-3">
      <div class="list-group list-group-flush border-bottom scrollarea">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Genre</strong>
            
          </div>
          <div class="col-10 mb-1 small">
            <a href="#">
                Rock
            </a>#<br>
            <a href="#">
                Electronic
            </a>#<br>
            <a href="#">
                Pop 
            </a>#<br>
            <a href="#">
                Folk, World, & Country
            </a>#<br>
            <a href="#">
                Jazz
            </a><br>
            <a href="#">
                All --make this a dropdown later
            </a>
          </div>
          
        <div class="list-group list-group-flush border-bottom scrollarea">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">Style</strong>
              
            </div>
            <div class="col-10 mb-1 small">
              <a href="#">
                  Pop Rock
              </a>#<br>
              <a href="#">
                  House
              </a>#<br>
              <a href="#">
                  Vocal 
              </a>#<br>
              <a href="#">
                  Experimental
              </a>#<br>
              <a href="#">
                  Punk
              </a>#<br>
              <a href="#">
                  All --make this a dropdown later
              </a>
            </div>
       
        <div class="list-group list-group-flush border-bottom scrollarea">
            <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">Format</strong>
                          
             </div>
                <div class="col-10 mb-1 small">
                    <a href="#">
                      Vinyl
                    </a>#<br>
                    <a href="#">
                      Album
                    </a>#<br>
                    <a href="#">
                      CD 
                    </a>#<br>
                    <a href="#">
                      LP
                    </a>#<br>
                    <a href="#">
                     7"
                    </a>#<br>
                    <a href="#">
                     All --make this a dropdown later
                    </a>
                </div> 
                         
        <div class="list-group list-group-flush border-bottom scrollarea">
            <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">Country</strong>
                          
             </div>
                <div class="col-10 mb-1 small">
                    <a href="#">
                      US
                    </a>#<br>
                    <a href="#">
                      UK
                    </a>#<br>
                    <a href="#">
                      Germany 
                    </a>#<br>
                    <a href="#">
                      France
                    </a>#<br>
                    <a href="#">
                     Japan
                    </a>#<br>
                    <a href="#">
                     All --make this a dropdown later
                    </a>
            </div> 
        <div class="list-group list-group-flush border-bottom scrollarea">
            <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">Decade</strong>
                          
             </div>
                <div class="col-10 mb-1 small">
                    <a href="#">
                      2020
                    </a>#<br>
                    <a href="#">
                      2010
                    </a>#<br>
                    <a href="#">
                      2000 
                    </a>#<br>
                    <a href="#">
                      1990
                    </a>#<br>
                    <a href="#">
                     1980
                    </a>#<br>
                    <a href="#">
                        1970
                    </a>#<br>
                    <a href="#">
                        1960
                    </a>#<br>
                    <a href="#">
                        1950
                    </a>#<br>
                    <a href="#">
                        1940
                    </a>#<br>
                    <a href="#">
                        1930
                    </a>#<br>
                    <a href="#">
                        1920
                    </a>#<br>
                    <a href="#">
                        1910
                    </a>#<br>
                    <a href="#">
                     All --make this a dropdown later
                    </a>
            </div>  
            AD
        </div>
    </div>
