.container { 
    margin-left: 0;
    margin-right: 0;
}
.search-bar{
    position: absolute;
    width: auto;
    height: auto;
    left:150px;
    background-color: rgb(51,51,51);
}
.toolbar{
    position: absolute;
    width: auto;
    height: auto;
    left:500px;
}
.cart-login{
    position: absolute;
    width: auto;
    height: auto;
    right:35px;
}

.dropdown {
    text-align:center;
    justify-content: center;
}

.dropdown-menu{
    align-items:center;
    justify-content: center;
    background-color: black;
}

.columnsC{
    column-gap: 0;
    
}

.columnsE{
    column-count:4;
    column-gap: 0;
    
    left: -450px;
    right:auto;
    
}

.columnsM{
    column-count: 5;
    column-gap: 0;
    
    left: -550px;
    right:auto;
}

.registerButton{
    background-color: limegreen;
}