<head>
    <link rel="stylesheet" href="topnavbar.component.css">
</head>
<nav class = "navbar navbar-dark bg-dark">
    <div class = "container">
        <a class="navbar-brand dsc" href="#">
            <img src="assets/discogs-white.png" alt="" width="112" height="40">
          </a>
          <form class="search-bar d-flex">
            <input class="form-control me-2" type="search" placeholder="Search artists, albums and more..." aria-label="Search artists, albums and more">
            <button class="btn btn-light" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </form>

          <div class="toolbar dropdown btn-group" role="group" aria-label="Basic example">
            
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                  Explore
                </button>
                <ul class="dropdown-menu columnsE dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item" href="#"><span class="bolded">Discover</span></a></li>
                  <li><a class="dropdown-item" href="#">Explore All</a></li>                  
                  <li><a class="dropdown-item" href="#">Trending Releases</a></li>                  
                  <li><a class="dropdown-item" href="#">List Explorer</a></li>  
                  <li><a class="dropdown-item" href="#">Advanced Search</a></li> 
                  <li><a class="dropdown-item" href="#">Articles About Music</a></li> 
                                
                  <li><a class="dropdown-item" href="#"><span class="bolded">Contribute</span></a></li>
                  <li><a class="dropdown-item" href="#">Submission Guidelines</a></li>                  
                  <li><a class="dropdown-item" href="#">Submit a Release</a></li>                  
                  <li><a class="dropdown-item" href="#">How to Make a List</a></li>  
                  <li><a class="dropdown-item" href="#">Monthly Leaderboard</a></li> 
                  <li><a class="dropdown-item" href="#">Help Translate Discogs</a></li>  

                  <li><a class="dropdown-item" href="#"><span class="bolded">Genere</span></a></li>
                  <li><a class="dropdown-item" href="#">Rock</a></li>                  
                  <li><a class="dropdown-item" href="#">Electronic</a></li>                  
                  <li><a class="dropdown-item" href="#">Hip Hop</a></li>  
                  <li><a class="dropdown-item" href="#">Folk, World, & Country</a></li>  
                  <li><a class="dropdown-item" href="#">Jazz</a></li> 
                  
                  <li><a class="dropdown-item" href="#"><span class="bolded">Styles</span></a></li>
                  <li><a class="dropdown-item" href="#">House</a></li>                  
                  <li><a class="dropdown-item" href="#">Punk</a></li>                  
                  <li><a class="dropdown-item" href="#">Soul</a></li>  
                  <li><a class="dropdown-item" href="#">Explore All Styles</a></li>   
                  <li><a class="dropdown-item" href="#">Regional Style Map</a></li>
                </ul>
              </div>
              
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                  Marketplace
                </button>
                <ul class="dropdown-menu columnsM dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item" href="#"><span class="bolded">Format</span></a></li>
                  <li><a class="dropdown-item" href="#">Vinyl</a></li>
                  <li><a class="dropdown-item" href="#">CD</a></li>
                  <li><a class="dropdown-item" href="#">Cassette</a></li>
                  <li><a class="dropdown-item" href="#">DVD</a></li>
                  <li><a class="dropdown-item" href="#">Box Set</a></li>

                  <li><a class="dropdown-item" href="#"><span class="bolded">Genre</span></a></li>
                  <li><a class="dropdown-item" href="#">Rock</a></li>                  
                  <li><a class="dropdown-item" href="#">Electronic</a></li>                  
                  <li><a class="dropdown-item" href="#">Hip Hop</a></li>  
                  <li><a class="dropdown-item" href="#">Folk, World, & Country</a></li>  
                  <li><a class="dropdown-item" href="#">Jazz</a></li> 

                  <li><a class="dropdown-item" href="#"><span class="bolded">Styles</span></a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>

                  <li><a class="dropdown-item" href="#"><span class="bolded">Buy Music</span></a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>

                  <li><a class="dropdown-item" href="#"><span class="bolded">Sell Music</span></a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                  <li><a class="dropdown-item" href="#">Placeholder</a></li>
                </ul>
              </div>
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                  Community
                </button>
                <ul class="dropdown-menu columnsC dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item" href="#">Discogs Digs</a></li>
                  <li><a class="dropdown-item" href="#">Groups</a></li>
                  <li><a class="dropdown-item" href="#">Forum</a></li>
                  <li><a class="dropdown-item" href="#">Blog</a></li>
                  <li><a class="dropdown-item" href="#">Friends</a></li>
                  <li><a class="dropdown-item" href="#">Community Guidelines</a></li>
                  <li><a class="dropdown-item" href="#">Database Guidelines</a></li>
                  <li><a class="dropdown-item" href="#">Record Shops</a></li>
                </ul>
              </div>
            </div>
          <form class="d-flex cart-login justify-content-end">
            <button class="btn btn-dark me-2" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
            </button>
            <button class="btn btn-dark me-2" type="button">Log In</button>
            <button class="btn registerButton btn-success" type="button">Register</button>
          </form>
    </div>
</nav>