

<div class = "d-flex">
    <div class="col-2">
        <dsc-sidebar></dsc-sidebar>
    </div>
    <div class = "col-10">
        <dsc-tab-navbar></dsc-tab-navbar> 
        <div class="p-2 bd-highlight big"> <strong>Find Music on Discogs</strong> </div>
        <div class="p-2 bd-highlight"> Pagination Stuff </div>
        <div class="p-2 bd-highlight"> 
            <div class = "d-flex">
                <div class = "col-2" *ngFor="let album of albums">
                    <dsc-explore-cards class="" img={{album.img}} album={{album.album}} artist={{album.artist}}>
                      Loading...
                    </dsc-explore-cards>
                 
                </div>
            </div>    
        </div>
    </div>
    
</div>
